.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px black, 0 0 20px rgb(36, 35, 35);
  }
.footer-logo {
    display: flex;
    height: auto;
    max-width: 30%;
}
.sitenav-list{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sitenav-title{
    font-size: 24px;
    padding-bottom: 2rem;
    font-weight: bold;
}
.contactus-list{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title{
    font-size: 24px;
    padding-bottom: 2rem;
    font-weight: bold;
}
.social-list{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-title{
    font-size: 24px;
    padding-bottom: 2rem;
    font-weight: bold;
}
.footer-copy {
    display: flex;
    width: 10%;
}
.footer-container a:-webkit-any-link {
    text-decoration: none;
    color: #000;
}
@media (max-width: 1050px) {
    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: none

    }
  
    .footer-logo,
    .sitenav-list,
    .sitenav-title,
    .contactus-list,
    .contact-title,
    .social-title,
    .social-list,
    .footer-copy {
      width: 100%;
    }

    .sitenav-title,
    .contact-title,
    .social-title{
        justify-content: center;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: .25rem;
        text-decoration: underline;
        font-weight: bold;
    }
  }
  @media (min-width: 880px) {
    .footer-container {
      justify-content: space-around;
    }
  }