.header-container {
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 2rem 2rem 0px 0px;
}

.logo img {
      height: auto;
      width: 100%;
      overflow-clip-margin: content-box;
      overflow: clip;
}

ul {
    list-style: none;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav li {
    color: #000;
    display: inline-block;
    margin: 1em;
    font-family: Karla,sans-serif;
    font-weight: 800;
    list-style: none;
    text-decoration: none;
}

.nav {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
    width: 60%;
}

@media (max-width: 1050px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        width: 75%;
    }
}

@media (min-width: 880px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}
