.hero-background{
  background: #495e57;
  display: flex;
  height: 100%;

}
.hero-container {
    display: flex;
    height: 26rem;
    margin:auto;
    width: 65rem;
    justify-content: center;
    align-content: center;
}

.hero-content {
    margin-right: 4em;
    width: 70%;
}

.hero-image {
    height: auto;
    width: 20%;
    overflow: clip;
}

.hero-title {
    color: #f4ce14;
    font-size: 60px;
    font-weight: 700;
}

.hero-location {
    color: #fff;
    font-size: 30px;
}
.hero-description {
    color: #fff;
    font-family: Karla,sans-serif;
    font-size: 18px;
    width: 100%;
}
.hero-featured {
    width: 30%;

}
.hero-featured img {
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    height: 400px;
    margin-left: 0;
    margin-top: 3em;
    width: 95%;
}
.reserve-button {
    background-color: #f4ce14;
    border: none;
    border-radius: 2em;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    color: #000;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 800;
    height: 3em;
    margin: 1em;
    width: 12em;
}
@media (max-width: 800px) {
  .hero-background{
    background: #495e57;
    display: flex;
    height: 39rem;
  }
 
  .hero-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto 0;
    max-width: 65rem;
}
  .hero-description {
    text-align: center;
    width: 100%;
  }
  .hero-title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom:0;
  }
  .hero-location {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .hero-featured {
      display: none;
  }
}