
.specials-container {
    margin-top: 5em;
    width: 100%;
}
.specials-container .specials{
    display: flex;
    height: auto;
    justify-content: center;
}
.specials{
    flex-wrap: wrap;
}
.specials-text {
    color: #000;
    font-family: Markazi Text,serif;
    font-size: 45px;
    margin: 0;
}
.specials button{
    margin-left: 10em;
}

@media (max-width: 800px){
    .specials-container {
        display: flex;
        flex-direction:row;
        align-content: center;
        margin-top: 0;

        width: 100%;
    }
    .specials-text {
        font-size: 60px;
        margin-top: 1em;
        margin-bottom: 1rem;
    }
    .specials button {
        margin-left:0;
    }
} 
@media (max-width: 400px) {
    .specials-container #button-online-menu {
        margin-bottom: 2em;
        margin-top: 2em;
    }
}